In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('train_and_test2.csv')

In [5]:
df.Age

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304    28.0
1305    39.0
1306    38.5
1307    28.0
1308    28.0
Name: Age, Length: 1309, dtype: float64

In [7]:
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [9]:
df.index

RangeIndex(start=0, stop=1309, step=1)

In [13]:
df.columns

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [15]:
type(df.Age)

pandas.core.series.Series

In [17]:
df['Age']

0       22.0
1       38.0
2       26.0
3       35.0
4       35.0
        ...
1304    28.0
1305    39.0
1306    38.5
1307    28.0
1308    28.0
Name: Age, Length: 1309, dtype: float64

In [19]:
df[['Age','Fare','Sex']]

       Age      Fare  Sex
0     22.0    7.2500    0
1     38.0   71.2833    1
2     26.0    7.9250    1
3     35.0   53.1000    1
4     35.0    8.0500    0
...    ...       ...  ...
1304  28.0    8.0500    0
1305  39.0  108.9000    1
1306  38.5    7.2500    0
1307  28.0    8.0500    0
1308  28.0   22.3583    0

[1309 rows x 3 columns]

In [21]:
df[['Age']]

       Age
0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
...    ...
1304  28.0
1305  39.0
1306  38.5
1307  28.0
1308  28.0

[1309 rows x 1 columns]

In [23]:
df.Age.mean()

29.50318563789152

In [25]:
df.Sex.mode()

0    0
Name: Sex, dtype: int64

In [27]:
df.Age.median()

28.0

In [29]:
df.Sex.mode().iloc[0]

0

In [31]:
df.Fare.min()

0.0

In [33]:
df.Fare.max()

512.3292

In [35]:
df.Fare.mean()

33.28108563789152

In [37]:
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [45]:
df['2urvived'].mode()

0    0
Name: 2urvived, dtype: int64

In [47]:
(df['2urvived'] == 0).sum()

967

In [49]:
(df['2urvived'] == 1).sum()

342

In [53]:
((df['2urvived'] == 0) & (df.Sex == 0)).sum()

734

In [55]:
((df['2urvived'] == 0) & (df.Sex == 1)).sum()

233

In [57]:
((df['2urvived'] == 1) & (df.Sex == 0)).sum()

109

In [59]:
((df['2urvived'] == 1) & (df.Sex == 1)).sum()

233

In [61]:
df = pd.read_csv('titanic.csv')

In [63]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [65]:
df.Embarked.mode()

0    S
Name: Embarked, dtype: object

In [71]:
(df.Embarked == 'S').sum()

644

In [75]:
((df.Age >= 35) & (df.Age <= 70) & (df.Sex == 'male')).sum()

149

In [97]:
((df.Sex == 'male') & (df.Age)).mean()

0.5084175084175084

In [99]:
((df.Sex == 'female') & (df.Age)).mean()

0.29292929292929293

In [102]:
df_male = df[df.Sex == 'male']

In [104]:
df_male.Age.mean()

30.72664459161148

In [106]:
df_female = df[df.Sex == 'female']

In [108]:
df_female.Age.mean()

27.915708812260537