In [1]:
import pandas as pd

In [3]:
a = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [5]:
a[0]

1

In [7]:
a[-1]

KeyError: -1

In [9]:
a.iloc[0]

1

In [11]:
a.iloc[[0,2,5]]

0    1
2    3
5    6
dtype: int64

In [9]:
a.iloc[2:6]

2    3
3    4
4    5
5    6
dtype: int64

In [11]:
a.loc[2]

3

In [13]:
a.loc[2:6]

2    3
3    4
4    5
5    6
6    7
dtype: int64

In [17]:
a = pd.Series([1,2,3,4,5,6,7], index = ['a','b','c','d','e','f','g'])

In [19]:
a

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [21]:
a.loc['a']

1

In [23]:
a['g']

7

In [25]:
a['a' : 'e']

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
a.min()

1

In [29]:
a.max()

7

In [31]:
a.mean()

4.0

In [33]:
a.median()

4.0

In [35]:
a.agg(['min','max','mean','median'])

min       1.0
max       7.0
mean      4.0
median    4.0
dtype: float64

In [37]:
a.agg(['min','max'])

min    1
max    7
dtype: int64

In [45]:
a = {'col1' : [1,2,3], 'col2' : [4,5,6]}

In [15]:
a = { 'Name' : ["Subham","Ram","Shyam"], 'Age' : [12,13,14]}

In [19]:
c = pd.DataFrame(data = a)

In [21]:
c

     Name  Age
0  Subham   12
1     Ram   13
2   Shyam   14

In [47]:
b = pd.DataFrame(data = a)

In [49]:
b

   col1  col2
0     1     4
1     2     5
2     3     6